@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: hsl(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.nft-embed-wrapper>iframe {
  width: 100% !important;
  height: 100% !important;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.nft-embed-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.nft-embed-container {
  min-width: 200px;
  min-height: 200px;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

.fill-available {
  width: -webkit-fill-available;
}